[build-system]
requires = ["scikit-build-core",
    "cython<=3.0.12",
    "setuptools>=61",
    "wheel"
    ]
build-backend = "scikit_build_core.build"

[project]
name = "pynest-ng"
# version = "3.8.post0.dev8"
dynamic = ["version"]
description = "NEST is a simulator for spiking neural network models that focuses on the dynamics, size and structure of neural systems rather than on the exact morphology of individual neurons."
keywords = ["nest", "simulator", "neuroscience", "neural", "neuron", "network", "ai", "spike", "spiking"]
readme = "README.md"
license.file = "LICENSE"
authors = [
  { name = "NEST Initiative", email = "users@nest-simulator.org" },
]
maintainers = [
  { name = "Steffen Graber", email = "s.graber@fz-juelich.de" },
]
requires-python = ">=3.10, <4.0"
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: GNU General Public License v2 (GPLv2)",
  "Operating System :: POSIX :: Linux",
  "Operating System :: MacOS",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: C++",
  "Topic :: Scientific/Engineering",
  "Topic :: Scientific/Engineering :: Medical Science Apps.",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
  "Typing :: Typed",
]
dependencies = [
  "cython<=3.0.12",
  "numpy",
  "scipy",
  "matplotlib",
  "pandas",
  "h5py"
]

[project.optional-dependencies]
nestml = [
  "nestml"
]
desktop = [
  "nest-desktop"
]
server = [
  "Flask",
  "flask-cors",
  "gunicorn",
  "requests",
  "RestrictedPython"
]
test = [
  "pytest",
  "pytest-cov",
  "pytest-xdist",
  "flake8",
  "black",
  "isort",
  "mypy"
]
docs = [
  "sphinx >= 6.2.1",
  "sphinx_rtd_theme",
  "sphinx_autobuild",
  "sphinx_gallery",
  "sphinx-tabs",
  "sphinx_design",
  "sphinx-material",
  "sphinx-copybutton",
  "sphinx-carousel",
  "sphinx-notfound-page",
  "sphinxcontrib-mermaid",
  "sphinxcontrib-plantuml",
  "nbsphinx",
  "numpydoc",
  "example",
  "Image",
  "breathe",
  "csvkit",
  "docutils",
  "PyYAML >= 4.2b1",
  "tqdm",
  "yamllint"
]
examples = [
  "matplotlib",
  "numpy",
  "scipy",
  "pandas",
  "networkx",
  "seaborn",
  "ipython",
  "cycler",
  "imageio",
  "requests"
]

[project.urls]
Homepage = "https://nest-simulator.org/"
Documentation = "https://nest-simulator.readthedocs.io/en/stable/"
"Bug Tracker" = "https://github.com/nest/nest-simulator/issues"
Changelog = "https://nest-simulator.readthedocs.io/en/stable/whats_new/index.html"

[tool.scikit-build]
sdist.cmake = false
build-dir = "build/{wheel_tag}"
metadata.version.provider = "scikit_build_core.metadata.regex"
metadata.version.input = "VERSION"
metadata.version.regex = "(?P<value>.*)"

[tool.scikit-build.cmake.define]
with-optimize ="-O2"
with-warning = "ON"
with-python = "ON"
with-boost = "ON"
with-gsl = "ON"
with-openmp = "ON"

[tool.cibuildwheel]
build-frontend = "default"
build = ["cp310-*", "cp311-*", "cp312-*", "cp313-*"]  # No cp314-*
skip = "*-win* *-manylinux_i686" # Skip
test-skip = ""
archs = ["auto64"]
config-settings = {}
dependency-versions = "pinned"
environment-pass = []
build-verbosity = 2
before-all = """
  NEST_SRC_DIR=${PWD}
  if [ $AUDITWHEEL_POLICY == "musllinux_1_2" ]
  then
    apk add git libc6-compat gsl gsl-dev ncurses ncurses-dev wget bzip2 hdf5 cmake
  else
    yum install -y git glibc glibc-devel gsl gsl-devel ncurses ncurses-devel wget bzip2 hdf5 cmake
  fi
  # Install boost
  if [[ "$OSTYPE" == "darwin"* ]]; then
    echo "Build OS"
    echo $OSTYPE
    brew install llvm libomp boost gsl graphviz ncurses
    brew link --force ncurses libomp
    echo "arch: $(arch)"
    if [[ $(arch) == 'arm64' ]]; then
      LDFLAGS="-L/opt/homebrew/lib"
      CPPFLAGS="-I/opt/homebrew/include"
    else
      LDFLAGS="-L/usr/local/lib"
      CPPFLAGS="-I/usr/local/include"
    fi
    hash -r
  else
    wget https://archives.boost.io/release/1.88.0/source/boost_1_88_0.tar.bz2
    tar --bzip2 -xf boost_1_88_0.tar.bz2
    cd boost_1_88_0
    ./bootstrap.sh
    ./b2 install
  fi
  """
before-build = ""
repair-wheel-command = ""
test-command = ""
before-test = ""
test-requires = []
test-extras = []
container-engine = "docker"
manylinux-x86_64-image = "manylinux2014"
manylinux-i686-image = "manylinux2014"
manylinux-aarch64-image = "manylinux2014"
manylinux-ppc64le-image = "manylinux2014"
manylinux-pypy_x86_64-image = "manylinux2014"
manylinux-pypy_i686-image = "manylinux2014"
manylinux-pypy_aarch64-image = "manylinux2014"
musllinux-x86_64-image = "musllinux_1_2"
musllinux-i686-image = "musllinux_1_2"
musllinux-aarch64-image = "musllinux_1_2"
musllinux-ppc64le-image = "musllinux_1_2"
musllinux-s390x-image = "musllinux_1_2"

[[tool.cibuildwheel.overrides]]
select = "*-macos*"
inherit.environment = "append"
environment = { MACOSX_DEPLOYMENT_TARGET = "15.0" }


[tool.cibuildwheel.linux]
repair-wheel-command = "auditwheel repair -w {dest_dir} {wheel}"

[tool.cibuildwheel.macos]
repair-wheel-command = "delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}"

[tool.cibuildwheel.windows]

[tool.cibuildwheel.pyodide]

[tool.pytest.ini_options]
markers = [
    "skipif_missing_gsl: skip test if NEST was built without GSL support",
    "skipif_missing_hdf5: skip test if NEST was built without HDF5 support",
    "skipif_missing_mpi: skip test if NEST was built without MPI support",
    "skipif_missing_threads: skip test if NEST was built without multithreading support",
    "skipif_incompatible_mpi: skip test if NEST was built with OpenMPI < 5.0.7",
    "simulation: the simulation class to use. Always pass a 2nd dummy argument"
]

[tool.isort]
profile = "black"
known_third_party = "nest"

[tool.black]
line-length = 120
