Image
PyYAML>=4.2b1
cmake
csvkit
cython>=0.29.14
docutils
example
ipykernel
# Pin ipython to a version compatible with Python 3.8, the latest supported by RTD
ipython
jupyter
matplotlib
mock
nbsphinx
numpy
numpydoc
pandoc
path.py
pytest
recommonmark
scipy
seaborn
sphinx
sphinx_autobuild
sphinx-copybutton>=0.5.2
sphinx-design
sphinx-gallery
sphinx-material
statsmodels
tqdm
yamllint
