matplotlib
sphinx>=2
sphinx_autobuild
docutils
yamllint
ipykernel
nbsphinx
jupyter
cmake
numpy
numpydoc
scipy
seaborn
sphinx_gallery
mock
breathe
https://github.com/djungelorm/sphinx-tabs/releases/download/v1.1.11/sphinx-tabs-1.1.11.tar.gz


